.main-bg {
  background-color: #CDA202;
}

.main-color {
  color: #CDA202;
}

.second-bg {
  background-color: #faf6e6;
}

section p {
  font-size: 18px;
}

/* .cutom-tab-style{
    padding: 10px 20px;
    border-radius: 10px;
} */

.text-lora {
  font-family: "Lora", sans-serif;
}

.WristWatchAnalysis-section .WristWatchAnalysCard {
  /* position: absolute; */
  background: rgba(0, 0, 0, 0.50);
  border-radius: 8px;
  border: 1px solid #3b3a39;
  padding: 30px 20px;
}

.Wrist-Watch-parent {
  padding: 40px 20px;
}

@media screen and (min-width:1024px) {
  .Wrist-Watch-parent {
    padding: 60px 20px;
  }
}


@media screen and (max-width:992px) {
  .WristWatchAnalysis-section .WristWatchAnalysCard {
    border: none;
    /* background: none; */
    padding: 20px;
  }

  .Wrist-Watch-parent {
    padding: 15px;
  }

}

.bg-layer1 {
  display: none;
}

@media screen and (min-width:768px) {

  /* .bg-layer1 {
      width: 400px;
      min-height: 400px;
      left: -25px;
      background-color: #eddda2;
      bottom: -25px;
      display: block;
  } */
}

.ab-meet-experts-card {
  position: relative;
  overflow: hidden;

}

.ab-meet-experts-card:hover img {
  transform: scale(1.08);

}

.ab-meet-experts-card img {
  transition: all .5s ease-in-out;
}

.active-custom-tab {
  background-color: #CDA202;
  color: #ffffff;
}

.astro-img::before {
  content: "online";
  position: absolute;
  bottom: 0;
  right: 0;
  /* height: 100%; */
  background: #23232370;
  /* width: 100%; */
  z-index: 09999999;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 0 0 8px 0;
}