.main-bg{
  background-color: #CDA202;
}
.second-bg{
  background-color: #faf6e6;
}
section p{
    font-size: 18px;
}
/* .cutom-tab-style{
    padding: 10px 20px;
    border-radius: 10px;
} */

.text-lora{
    font-family: "Lora", sans-serif;
}